#content div {

}

.row {
    clear: both;
}

.square {
    width: 30px;
    height: 30px;
    float: left;
    display: block;
}

.revealed {
    background-color: darkgray;
    border: 1px solid dimgray;
}

.unrevealed {
    background-color: cornflowerblue;
    border: 1px solid blue;
}

.questioned {
    background-color: orange;
    border: 1px solid orangered;
}

.flagged {
    background-color: red;
    border: 1px solid darkred;
}

#gameOver {
    position: absolute;
    z-index: 10;
    border: 5px solid darkslategray;
    background-color: darkgray;
    width: 150px;
    height: 50px;
    top: 20px;
}